div {
  width: 200px;
  height: 200px;
  background: #cccccc;
}
div:hover {
  background: pink;
}
div:nth-child(2) {
  width: 600px;
}
div:nth-child(2):after {
  content: '';
  display: block;
  width: 200px;
  height: 10px;
  background: #0bb20c;
}
