<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <select v-model="selectVal">
            <!-- 
                v-for="(item,idx) in arr" :key="idx" :value="idx"
                in arr 前面一定要有空格
             -->
            <option v-for="(item,idx) in arr" :key="idx" :value="idx">{{item}}</option>
            <!-- <option v-for="(item, idx) in arr" :key="idx" :value="idx">{{item}}</option> -->
            <!-- <option value="" v-for="(item,index)in arr" :key="index"></option> -->
        </select>
        <p>selectVal: <span>{{selectVal}}</span></p>
    </div>
</body>
</html>
<script>
    //实力化vue对象
    var app = new Vue({
        el:'#app',
        data:{
            selectVal:'11',
            arr:['11','22','33']
        }
    })
</script>