<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 双向数据绑定 -- 获取选中option值 -->
        <select v-model="selectValue">
            <!-- 
                option多个为数组，v-for遍历 
            
                1. 获取-数值
                2. 获取键值
            -->
            <option v-for="(item,idx) in arr" :key="idx" :value="item">{{item}}</option>
            <option v-for="(item,idx) in arr" :key="idx" :value="idx">{{item}}</option>
        </select>
        <p>selectVal: <span>{{selectValue}}</span></p>
    </div>
</body>
</html>
<script>
    //实力化vue对象
    var app = new Vue({
        el:'#app',
        data:{
            selectValue:'香蕉',
            arr:['香蕉','苹果','栗子']
        }
    })
</script>